.header{
    margin-bottom: 50px;
}

.form-cont{
    width: 100%;
}

.sub{
    width: 50%;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(221, 221, 221);
    padding: 30px 100px;
    padding-left: 100px;
    border-radius: 10px;
}
.col{
    margin: 0px 5px;
} 

/*Chrome slider*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        position: relative;
        top: 5em;
        transform: rotateZ(270deg);
        -webkit-appearance: none;
        width: 200px;
        border-radius: 5px;
        height: 100px;
        overflow: hidden;
        background-color: #d1d1d1;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
        width: 175px;
        height: 50px;
        cursor: pointer;
        border-radius: 5px;
        -webkit-appearance: none;
        margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
        height: 30px;
        width: 40px;
        cursor: pointer;
        -webkit-appearance: none;
        background: rgb(88, 88, 88);
        box-shadow: -100px 0 0 100px rgb(88, 88, 88);
    }

}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgb(88, 88, 88); 
}
input[type="range"]::-moz-range-track {  
  background-color: #d1d1d1;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgb(88, 88, 88); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #d1d1d1;
}





.round {
    margin-top: 3px;
    margin-left: 10px;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}

.round.blue {
    background-color: #3EA6CE;
}